@charset "UTF-8";
/* Toggle Switch Styles */
.toggle-wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 3rem;
}

.toggle-label {
  font-size: 0.9rem;
  font-weight: 700;
  color: #a2a4b1;
}

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 26px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch input:checked + .slider {
  background-color: #696ddd;
}
.switch input:checked + .slider:hover {
  background-color: #a2a6f1;
}
.switch input:checked + .slider::before {
  transform: translateX(22px);
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #696ddd;
  border-radius: 34px;
  transition: 0.3s;
}
.slider:hover {
  background-color: #a2a6f1;
}
.slider::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
}

/* end Toggle Switch Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #f6f6fe;
  background-image: url("../images/bg-top.svg");
  background-position: top right;
  background-repeat: no-repeat, no-repeat;
  font-size: 15px;
}
@media (min-width: 1024px) {
  body {
    background-image: url("../images/bg-top.svg"), url("../images/bg-bottom.svg");
    background-position: top right, bottom left;
  }
}
body main {
  font-family: "Montserrat";
  font-display: swap;
  font-style: normal;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body main .title {
  color: #494c5f;
}
body main .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
@media (min-width: 1024px) {
  body main .cards {
    flex-direction: row;
    padding: 2rem;
    gap: 0;
  }
}
body main .cards .plan-label {
  color: #6d708d;
  font-size: 1rem;
}
body main .cards .plan-price {
  display: flex;
  align-items: center;
}
body main .cards .plan-price .dollar-symbol {
  font-size: 2rem;
}
body main .cards .plan-price {
  font-size: 4rem;
  font-weight: 700;
  color: #494c5f;
  margin: 1rem;
}
body main .cards .card {
  max-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: #6d708d;
  padding: 1rem;
  background-color: #ffffff;
  min-width: 300px;
  border-radius: 10px;
}
body main .cards .card hr {
  width: 100%;
  margin: 0;
  align-self: stretch; /* alternativa a width:100%, más "flex-friendly" */
  border: none;
  border-top: 1px solid #e6e0e0;
}
body main .cards .card .hidden {
  display: none;
}
body main .cards .card button {
  font-weight: 700;
  font-size: 0.7rem;
  letter-spacing: 1px;
  margin: 1rem 0;
  width: 100%;
  padding: 0.7rem;
  color: #f6f6fe;
  background: linear-gradient(to right, #a2a6f1, #696ddd);
  border: solid 1px transparent;
  border-radius: 5px;
  text-transform: uppercase;
}
body main .cards .card button:hover {
  cursor: pointer;
  background: #ffffff;
  color: #696ddd;
  border: solid 1px #696ddd;
}
body main .cards .card button:active {
  background: #ffffff;
  color: #696ddd;
  border: solid 1px #696ddd;
}
body main .cards .card button:focus {
  background: #ffffff;
  color: #696ddd;
  border: solid 1px #696ddd;
}
body main .cards .card-intermediate {
  background: linear-gradient(to bottom, #a2a6f1, #696ddd);
  color: #f6f6fe;
}
@media (min-width: 1024px) {
  body main .cards .card-intermediate {
    max-height: 450px;
    padding: 2rem 1rem;
  }
}
body main .cards .card-intermediate .plan-label {
  color: #f6f6fe;
}
body main .cards .card-intermediate .plan-price {
  color: #f6f6fe;
}
body main .cards .card-intermediate hr {
  border-top: 1px solid #a2a6f1;
}
body main .cards .card-intermediate button {
  background: #f6f6fe;
  color: #696ddd;
  border: solid 1px #f6f6fe;
}
body main .cards .card-intermediate button:hover {
  cursor: pointer;
  color: #f6f6fe;
  background: #696ddd;
  border: solid 1px #f6f6fe;
}
body main .cards .card-intermediate button:active {
  color: #f6f6fe;
  background: #696ddd;
}
body main .cards .card-intermediate button:focus {
  color: #f6f6fe;
  background: #696ddd;
}/*# sourceMappingURL=styles.css.map */